<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for(endpoint='static', filename='imgs/favicon_io/favicon.ico')}}" type="image/png">
    <link rel="stylesheet" href="{{url_for(endpoint='static', filename='styles/Styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CAD</title>
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <a href="./IndexCadastrado.html">
                    <img src="static/imgs/Logo tela principal.png"  width="200" height="180">
                </a>
                <ul class="ul">
                    <a href="./IndexCadastrado.html">Início</a>
                    <a href="./Coleta.html">Coleta de Dados</a>
                    <a href="./Analise.html">Análise de Dados</a>
                </ul>
            </nav>
            <section class="Centro">
                <div class="Centro-Text">
                    <h1>LMPD</h1>
                    <p>
                        Site para coleta e análise de dados em geral, oferecendo uma plataforma simples e eficaz para transformar informações em insights valiosos.
                    </p>
                    <a href="./Saiba-Mais.html" class="btn">Saiba mais</a>
                </div>
            </section>
        </div>
    </header>
    <script defer src="{{url_for(endpoint='static', filename='scripts/Styles.js')}}"></script>
</body>
</html>